fastapi==0.115.4
sqlmodel==0.0.22
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.3.4
pydantic_core==2.23.4
pydantic[email]
PyJWT==2.9.0
pytest==8.3.3
uvicorn==0.32.0
alembic==1.14.1
Jinja2==3.1.5
passlib==1.7.4
